.sidebar {
    background-color: #60a5fa;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.sidebar > div:nth-child(1) div {
    border: var(--test-border);
    height: fit-content;
    width: fit-content;
}

.sidebar > div:nth-child(1) img {
    height: 50px;
    width: 50px;
}

.sidebar > div:nth-child(2) div {
    border: var(--test-border);
    height: fit-content;
    width: fit-content;
}

.sidebar > div:nth-child(3) div{
    border: var(--test-border);
    height: fit-content;
    width: fit-content;
}

.sidebar > div:nth-child(2) img, .sidebar > div:nth-child(3) img {
    height: 25px;
    width: 25px;
}